name: build
on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prepare targets
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add x86_64-unknown-linux-gnu
      - name: Build native crates
        run: cargo build --workspace --verbose
      - name: Build wasm target
        run: cargo build --workspace --target wasm32-unknown-unknown --verbose

      - name: Cargo publish dry-run
        run: cargo publish --dry-run

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install wasm-pack
        run: cargo install wasm-pack --locked

      - name: Build wasm package and npm dry-run
        run: |
          wasm-pack build --out-dir pkg --scope csaf-rs
          cd pkg
          npm publish --dry-run
