name: release-npm
on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Prepare targets
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add x86_64-unknown-linux-gnu
      - name: Install wasm-pack
        run: cargo install wasm-pack --locked
      - name: Build wasm package
        run: wasm-pack build --release --scope csaf-rs --out-dir pkg
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"
      - name: Publish pkg to npm with provenance
        working-directory: pkg
        run: |
          npm publish --provenance
